@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /* height: 200vh; */
    position: relative;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;
    align-items: center;
    position: relative;
    transition: 2s;
}

.countries {
    width: 19rem;
    height: 28rem;
    background-color: white;
    box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

.container .errorHandler {
    grid-column: 1 /span 2;
}
.container .errorHandler.neighbour-error {
    grid-column: 2 /span 2;
}

.country-flag {
    background-color: black;
    /* background: url(/instagram.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    flex-basis: 40%;
}

.neighbour {
    width: 17rem;
    height: 22rem;
}

.neighbour::before {
    content: 'Neighbour country';
    position: absolute;
    top: 5px;
    right: 4.8rem;
    color: rgba(50, 49, 49, 0.722);
    font-size: 17px;
    text-decoration: underline;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 0 20px 1px rgba(0,0,0,0.8);
}

.neighbour .country-info {
    margin-top: 0;
    padding: 1rem 2rem 0;
}

.neighbour .country-info h2 {
    font-size: 20px;
}

.neighbour .country-info ul li span {
    font-size: 13px;
    letter-spacing: 0px;
}


.country-info {
    padding: 0 2rem;
    margin-top: 2.5rem;
}

.country-info h2 {
    color: rgba(24, 23, 23, 0.819);
    font-size: 27px;
}

.country-info p {
    color: rgba(37, 36, 36, 0.456);
    font-size: 14px;
    font-weight: 700;
}

.country-info ul {
    margin-top: 20px;
}


.country-info ul li {
    list-style: none;
    padding: 7px 0;
}

.country-info ul li span {
    font-weight: 600;
    font-size: 15px;
    color: rgba(45, 43, 43, 0.722);
    letter-spacing: 1px;
}

.getCountry {
    margin: 2rem;
}

.getCountry form {
    margin: 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    /* width: auto; */
}

.getCountry form input {
    padding: 6px 10px;
    /* width: 15rem; */
    margin-bottom: 15px;
    font-size: 16px;
}

.getCountry form button {
    padding: 4px 5px;
    width: 5rem;
    font-size: 16px;
    background-color: aqua;
    cursor: pointer;
    transition: opacity 0.3s;
    /* border: none; */
}

.getCountry form button:active {
    opacity: 0.3;
}

.hidden {
    display: none;
}

.backButton {
    position: absolute;
    top: 1.7rem;
    left: 3rem;
    font-size: 50px;
    cursor: pointer;
}

.backButton:active {
    border: 2px solid black;
}


@media screen and (max-width: 700px) {
    .container {
        column-gap: 2rem;
    }

    .countries {
        width: 17rem;
        height: 26rem;
    }

    .neighbour {
        width: 15rem;
        height: 20rem;
    }

    .backButton {
        font-size: 40px;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 7rem;
        align-items: center;
        justify-items: center;
        position: relative;
        margin: 5rem 0 2rem;
    }
    
    .countries {
        width: 18rem;
        height: 27rem;
    }

    .neighbour {
        width: 16rem;
        height: 21rem;
    }

    .backButton {
        top: 1rem;
        left:1rem;
        font-size: 35px;
        cursor: pointer;
    }

    .neighbour::before {
        top: 32rem;
        right: 4.2rem;
        font-size: 17px;
    }

    .getCountry h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {

    .countries {
        width: 17rem;
        height: 26rem;
    }

    .neighbour {
        width: 15rem;
        height: 20rem;
    }

    .neighbour::before {
        top: 31rem;
        right: 3rem;
        font-size: 17px;
    }

    .getCountry h1 {
        font-size: 18px;
    }

    .country-info h2 {
        font-size: 19px;
    }

    .neighbour .country-info h2 {
        font-size: 18px;
    }

    .container .errorHandler.neighbour-error {
        grid-column: 1 /span 2;
        margin-left: -3rem;
    }
}




/* .country-flag img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .container {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid black;
    border-bottom: 5px solid white;
    animation: loader 2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(360deg);
    }
} */